apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: aryan0763/myapp:64887a963e3b1560ce8783b70700c4b79864a804
        ports:
        - containerPort: 3000
